<extend name="Base/common"/>

<block name="header"></block>

<block name="body">

<style type="text/css">
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  font-family:Microsoft YaHei;
}
h2 {font-family:Microsoft YaHei;}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

<div class="container">
<div class="page-header">
  <h1 style="font-family:Microsoft YaHei">{:C('SITE_TITLE')} <small>登录 login</small></h1>
</div>
</div>

<div class="container">
<div class="row">

    <title>登录 - {:C('SITE_TITLE')}</title>

        <form class="form-signin" role="form" action="{:'http://'.$_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'].'?'.$_SERVER['QUERY_STRING']}" method="post" id="reform">
        <input type="text" id="email" name="email" class="form-control" placeholder="Email地址" required autofocus>
        <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>

		<div class="row">
		<div class="col-md-5"><input type="text" class="form-control" placeholder="验证码" name="verify" maxlength="4" /></div>
		<div class="col-md-3"><img src="{:U('verify')}" id="getcode_gg" title="看不清，点击换一张" align="absmiddle" onClick="this.src=this.src+'?'+Math.random()"></div>
		</div>

          <br />
        <button class="btn btn-lg btn-primary btn-block" id="sub" type="submit">登录</button>
            <a href="register.html">没有账号？</a>
      </form>
    

</div>
</div>
</block>