<extend name="Base/common"/>
  <block name="body">
<title>关于 - 社团中心</title>
    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
                                  
                <li>
	<a href="#history">起源</a>
	</li>
	<li>
		<a href="#team">开发小组</a>
	</li>
  <li>
    <a href="#code">开发说明</a>
  </li>
	<li>
		<a href="#open_code">开源说明</a>
	</li>
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          


<!-- History
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="history">起源</h1>
  </div>
  <p class="lead">本应用是由<a href="http://weibo.com/smilexc8">璨</a>在闲暇时间开发的，从无到有共花费了十多天。</p>
  <p>最初<a href="http://weibo.com/smilexc8">璨</a>看到社团内用Q群来通知信息，觉得这种方法非常笨重，而且不易于组员交流、讨论，在于刘伟做功能上的商议以后，于是萌发了动手写这么一个平台的想法，前前后后做了十几天，终于大致做完。</p>
 
</div>


<!-- Team
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="team">核心开发小组</h1>
  </div>
  <p class="lead">本站由核心开发小组维护，也欢迎大家加入我们。</p>
  <div class="list-group bs-team">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>称呼</th>
            <th>主页</th>
          </tr>
        </thead>
        <tbody>
            
            <tr><td>1</td><td>崔璨</td>
                <td><a href="http://cuican.name">璨的博客</a></td>
          </tr>
          <tr><td>2</td><td>刘伟</td>
                <td></td>
          </tr>
            </tbody>
      </table>
  </div>
  
</div>


<!-- code
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="code">开发说明</h1>
  </div>
  <p class="lead">本站使用PHP开发，使用了如下框架：</p>
    <p>前端框架：<a href="http://www.bootcss.com">Bootstrap</a></p>
    <p>后端框架：<a href="http://www.thinkphp.cn">ThinkPHP</a></p>
</div>



<!-- open_code
================================================== -->
<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="open_code">开源说明</h1>
  </div>
  <p class="lead">源码开源未定，敬请期待</p>
</div>

        </div>
      </div>

    </div>



      
    <!-- Main jumbotron for a primary marketing message or call to action -->

        
        <div class="container">
     <!-- /container -->

      </div>

<script type="text/javascript">
  document.getElementById("about").className="active";
</script>

  </block>
